<% if (message) { %>
	<div class="container">
	  <div class="row">		
		<div class="alert alert-error">  
		  <strong>Error! </strong><%= message %>
		</div>  		
	  </div>  
	</div>
<% } %>

<div class="container">
  <div class="row">
    <div class="offset4 span4">
		<form action="/login" method="post">
			<div>
			<label>Username:</label>
			<input type="text" name="username"/><br/>
			</div>
			<div>
			<label>Password:</label>
			<input type="password" name="password"/>
			</div>
			<div>
			<input type="submit" value="Submit"/>
			</div>
		</form>
    </div>
  </div>
</div>

