


	<div class="row" style="padding: 0 0 12px 40px;"> 

		<div class="pull-left"> 
		</div>		
		<div class="pull-right"> 
			<button id="SaveBtn" class="btn btn-primary save">
	            <i class=" icon-ok icon-white"></i>
	            <span>Save</span>
	        </button>
			<button id="ResetBtn" class="btn btn-danger delete">
	            <i class="icon-ban-circle icon-white"></i>
	            <span>Reload</span>
	        </button>	        
		</diV>	

	</div>	

<div class="filter"></div>

<div class="localelistitems"></div>