
<div class="container">
		<div class="row" style="padding: 0 0 0 40px;"> 

			<div class="pull-left">
				<input id="keySearchTask" class="input-medium" type="text"  placeholder="KEY" value='<%= keySearchterm  %>'></input>
				<input class="input-medium" type="text"  placeholder="LANGUAGE"></input>
				<input class="input-medium" type="text"  placeholder="VALUE"></input>
			</div>

			<div class="pull-right filter">
				<span id="prevPage" class="label">prev</span>
				<span id="nextPage" class="label">next</span>

				<span id="gotoStart" class="label">Start</span>
				<span id="gotoEnd" class="label">Ende</span>		
				<span class="label current-page"><%= currentpage %></span>		
			</div>
			
			<div class="clearfix"></div>

		</diV>


</div>
