<div class="container">
    <div class="page-header">
        <h1>Locale Edit File Upload</h1>
    </div>
    <blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue.
		</p>
    </blockquote>
    <br>
    <div class="file-list-wrapper"></div>